<mat-toolbar color="primary" style="justify-content: center;">
  <span>Telzir</span>
</mat-toolbar>

<section class="input-section">
  <mat-card class="input-card">
    <mat-card-header>
      <mat-card-title class="input-card-title">Plano Fale Mais</mat-card-title>
      <mat-card-subtitle>
        Com o novo produto FaleMais da Telzir o cliente adquire um plano e pode falar de graça até
        um determinado tempo (em minutos) e só paga os minutos excedentes. Os minutos
        excedentes tem um acréscimo de 10% sobre a tarifa normal do minuto. Os planos são
        FaleMais 30 (30 minutos), FaleMais 60 (60 minutos) e FaleMais 120 (120 minutos).
      </mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="input-card-content">
      <mat-form-field>
        <mat-label>Escolha a Origem e o Destino</mat-label>
        <mat-select [(value)]="tarifaEscolhida">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let tarifa of tarifas" [value]="tarifa">Origem: {{tarifa.origem}} | Destino: {{tarifa.destino}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Escolha o Plano</mat-label>
        <mat-select [(value)]="planoEscolhido">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let plano of planos" [value]="plano">{{plano.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput placeholder="Digite o Tempo em Minutos" appNumbersOnly [(ngModel)]="consumoEmMinutos">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="limpar()">Limpar</button>
      <button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
    </mat-card-actions>
  </mat-card>
</section>

<section class="result-section" *ngIf="calculou">
  <mat-card class="result-card">
    <mat-card-header>
      <mat-card-title class="result-text-com-fale-mais">Com Fale Mais</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <h1 class="result-text-com-fale-mais">{{resultadoComFaleMais}}</h1>
  </mat-card>

  <mat-card class="result-card">
    <mat-card-header>
      <mat-card-title class="result-text-sem-fale-mais">Sem Fale Mais</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <h1 class="result-text-sem-fale-mais">{{resultadoSemFaleMais}}</h1>
  </mat-card>
</section>
